$cMain: #333;
$cBackground: #fff;

// flat design colors
$cWhite: #fff;
$cFlatRed: #e74c3c;
$cFlatRedDark: #c0392b;
$cFlatBlue: #3498db;

// breakpoints
$S:    480px;    
$M:     800px;   
$L:     1024px;     

